.card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    width: 15rem;
    height: 12rem;
    background: white;
    border-radius: 1rem;
    border-top: 7rem solid;
    padding: 0 1rem 2rem 1rem;
    box-shadow: 0.25rem 0.25rem 1rem rgb(192, 192, 192);
}

.card .deletar{
    position: relative;
    right: -7.9rem;
    top: -1.6rem
}

.card img{
    position: relative;
    top: 0rem;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
}

.card div{
    width: 11rem;
}

.card .card-nome{
    text-align: center;

    height: 2.6rem;
    margin-bottom: 0.5;
    color: dodgerblue;
    font-weight: bold;
    overflow-x: clip;
    overflow-y: auto;
    text-overflow:ellipsis;
}

.card .card-descricao{
    height: 3rem;
    overflow-x: clip;
    overflow-y: auto;
    text-overflow:ellipsis;
}