body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app .titulo{
  width: 100%;
  text-align: center;
}

.app .titulo h2{
  color: #6278F7;
  padding-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
}

.app .titulo hr{
  background-color: #6278F7;
  width: 15rem;
  height: 0.25rem;
  margin-bottom: 2rem;
}