.formulario{
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    gap: 3rem;
    width: 40vw;
    margin: 5rem 0;
    border-radius: 1rem;
    background-color: rgb(238, 229, 221);
    padding: 3rem 5rem 4rem 5rem;
    box-shadow: 0.62rem 0.62rem 1.88rem rgb(167, 167, 167);
}

.formulario h1{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: xx-large;
    font-weight: 300;
}