.formulario-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin: 5rem 0;
    gap: 3rem;
}

.formulario form{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 3rem;
    background-color: rgb(179, 189, 226);
    box-shadow: 0.62rem 0.62rem 1.88rem rgb(167, 167, 167);
    padding: 3rem 5rem 4rem 5rem;
}

.formulario h1{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: xx-large;
    font-weight: 300;
}
